<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/display2.css" />
    <title>Leśna - Aktualności</title>
  </head>
  <body>
    <div class="root">
      <div class="main-grid">
        <div class="logo"><img src="img/logo.webp" alt="" srcset="" /></div>
        <div class="news">
          <div class="block-title">Sperma</div>
          <div class="list">
            <div class="news-item">
              <div class="news-item-title">AAAAAAAAA</div>
              <div class="news-item-content">
                dsaodhsoaihdsaiohdsaiodhsaiodhsaiodhsaiodhsaio Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Distinctio aut corporis
                aspernatur sunt neque optio reprehenderit, minima nihil omnis
                consectetur in non vero recusandae possimus ducimus nobis
                dignissimos! Incidunt, blanditiis.
              </div>
              <div class="news-item-date">00.00.0000 r.</div>
            </div>
            <div class="news-item">
              <div class="news-item-title">AAAAAAAAA</div>
              <div class="news-item-content">
                dsaodhsoaihdsaiohdsaiodhsaiodhsaiodhsaiodhsaio Lorem ipsum dolor
                sit, amet consectetur adipisicing elit. Distinctio aut corporis
                aspernatur sunt neque optio reprehenderit, minima nihil omnis
                consectetur in non vero recusandae possimus ducimus nobis
                dignissimos! Incidunt, blanditiis.
              </div>
              <div class="news-item-date">00.00.0000 r.</div>
            </div>
          </div>
        </div>
        <div class="song-list">
          <div class="block-title">sperma</div>
        </div>
      </div>
    </div>
  </body>
</html>
