<!DOCTYPE html>
<html lang="pl">
  <head>
    <script src="/js/helpers.js"></script>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/display.css" />
    <!-- <script src="https://sdk.scdn.co/spotify-player.js"></script> -->
    <title>Leśna - Now Playing</title>
  </head>
  <body>
    <div class="root">
      <div class="main-grid">
        <div class="title">Teraz odtwarzane</div>
        <div class="main-left"></div>
        <div class="main-right">
          <div class="queue">
            <div class="queue-title">Kolejka</div>
            <div class="queue-list-container">
              <div class="queue-list"></div>
            </div>
          </div>
        </div>
        <div class="qr">
          <img src="/img/qr.png" height="100%" class="qr__image" />
        </div>
        <div class="info">
          Version: 0.1 <br />
          &copy; Mateusz Biniak, Jan Michalak, Dawid Ordon <br />
        </div>
      </div>
      <div class="background">
        <img src="/img/cover-placeholder.png" class="background__image" />
      </div>
    </div>
    <script src="js/display.js"></script>
  </body>
</html>
