<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Lesna - admin panel</title>
  </head>
  <body>
    <div class="root">
      <div class="edit-preset-wrapper">
        <div class="edit-preset-title">Szablon 1</div>
        <div class="edit-preset-main">
          <form class="edit-preset-main-box" id="pattern-form">
            <div class="edit-preset-main-box-item">
              <label for="presetName">Nazwa</label>
              <input required type="text" name="name" id="presetName" />
            </div>
            <div class="edit-preset-main-box-item">
              <label for="presetOffset">Przesunięcie dzwonka w sekundach</label>
              <input required type="number" name="offset" id="presetOffset" />
            </div>
            <div class="edit-preset-main-box-button">
              <button id="saveChanges">Zapisz zmiany</button>
            </div>
            <div class="edit-preset-main-box-settings">
              <div>
                <input type="checkbox" name="is_active" id="isActive" />
                <label for="isActive">aktywny</label>
              </div>
              <div>
                <button id="deletePreset">Usuń</button>
              </div>
            </div>
          </form>
          <form class="edit-preset-main-box" id="new-break-form">
            <div class="edit-preset-main-box-item">Dodaj przerwe</div>
            <div class="edit-preset-main-box-item">
              <label for="presetName">Nazwa</label>
              <input required type="text" name="name" id="presetName" />
            </div>
            <div class="edit-preset-main-box-item">
              <label for="presetOffset">Od</label>
              <input required type="time" name="start" id="breakFrom" />
            </div>
            <div class="edit-preset-main-box-item">
              <label for="presetOffset">Do</label>
              <input required type="time" name="end" id="breakTo" />
            </div>
            <div class="edit-preset-main-box-settings">
              <div>
                <input
                  type="checkbox"
                  name="forRequested"
                  id="forRequested"
                /><label for="onDemandSongs">piosenki na żądanie</label>
              </div>
              <div>
                <button id="addBreak" type="button">Dodaj</button>
              </div>
            </div>
          </form>
        </div>
        <form class="edit-preset-breaks"></form>
        <div>
          tu ma być form może idk
          <button id="submit-changes">submit czanges</button>
        </div>
      </div>
    </div>
    <script src="/js/editpreset.js"></script>
  </body>
</html>
