<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Lesna - admin panel</title>
</head>
<body>
    <div class="root">
        <div class="edit-preset-wrapper">
            <div class="edit-preset-title">Szablon 1</div>
            <div class="edit-preset-main">
                <div class="edit-preset-main-box">
                    <div class="edit-preset-main-box-item">
                        <label for="presetName">Nazwa</label>
                        <input type="text" name="presetName" id="presetName">
                    </div>
                    <div class="edit-preset-main-box-item">
                        <label for="presetOffset">Przesunięcie dzwonka w sekundach</label>
                        <input type="number" name="presetOffset" id="presetOffset">
                    </div>
                    <div class="edit-preset-main-box-button">
                        <button id="saveChanges">Zapisz zmiany</button>
                    </div>
                    <div class="edit-preset-main-box-settings">
                        <div>
                            <input type="checkbox" name="isActive" id="isActive">
                            <label for="isActive">aktywny</label>
                        </div>
                        <div>
                            <button id="deletePreset">Usuń</button>
                        </div>
                    </div>
                </div>
                <div class="edit-preset-main-box">
                    <div class="edit-preset-main-box-item">
                        Dodaj przerwe
                    </div>
                    <div class="edit-preset-main-box-item">
                        <label for="presetName">Nazwa</label>
                        <input type="text" name="presetName" id="presetName">
                    </div>
                    <div class="edit-preset-main-box-item">
                        <label for="presetOffset">Od</label>
                        <input type="number" name="breakFrom" id="breakFrom">
                    </div>
                    <div class="edit-preset-main-box-item">
                        <label for="presetOffset">Do</label>
                        <input type="number" name="breakTo" id="breakTo">
                    </div>
                    <div class="edit-preset-main-box-settings">
                        <div>
                            <input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label>
                        </div>
                        <div>
                            <button id="addBreak">Dodaj</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit-preset-breaks">
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
                <div class="break">
                    <div class="break-number">1</div>
                    <div class="break-main">
                        <div class="break-name"><input type="text" name="breakName" id="breakName" value="Przerwa krotka 1"></div>
                        <div class="break-time">Od:<input type="number" name="breakFrom" id="breakFrom"> Do: <input type="number" name="breakTo" id="breakTo"></div>
                        <div class="break-settings"><input type="checkbox" name="onDemandSongs" id="onDemandSongs"><label for="onDemandSongs">piosenki na żądanie</label></div>
                    </div>
                    <div class="break-delete">
                        <button id="deleteBreak">Usun</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>