<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="js/adminbuttons.js" defer></script>
    <title>Lesna - admin panel</title>
  </head>
  <body>
    <div class="root">
      <div class="add-preset-button">+</div>
      <div class="add-preset">
        <form action="/api/pattern" method="post" id="pattern_form">
          <input type="text" name="name" id="name" placeholder="imie" />
          <input type="number" name="offset" id="offset" placeholder="s" />
          <button type="submit">aaaaaaaaaaaa</button>
        </form>
      </div>
      <div class="admin-wrapper">
        <div class="admin-title">Szablony</div>
        <div class="admin-presets"></div>
      </div>
    </div>
    <script src="js/admin.js"></script>
  </body>
</html>
