<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/bans.css" />
    <title>Lesna - admin panel</title>
  </head>
  <body>
    <div class="root">
      <div class="admin-wrapper">
        <div class="admin-title">
          <a href="/admin">Szablony</a><a class="selected">Bany</a>
        </div>
      </div>
      <div class="filter-menu">
        <button id="banned_tracks">Zbanowane piosenki</button>
        <button id="verified_tracks">Zbanuj zweryfikowana piosenke</button>
        <button id="verify_tracks">Zweryfikuj nowe piosenki</button>
      </div>
      <table class="table">
        <thead class="table__head">
          <tr class="table__row">
            <th class="table__title">Cover</th>
            <th class="table__title">Name</th>
            <th class="table__title">Artist</th>
            <th class="table__title">Length</th>
            <th class="table__title">Banned</th>
          </tr>
        </thead>
        <tbody class="table__body">
          <tr class="table__row">
            <td class="table__cell"><img src="" alt="" /></td>
            <td class="table__cell">name</td>
            <td class="table__cell">artist</td>
            <td class="table__cell">length</td>
            <td class="table__cell">
              <input type="checkbox" name="" id="checkbox-id" />
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <script src="/js/song_control.js"></script>
  </body>
</html>
