<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    <title>Leśna - player</title>
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
    <script src="/public/js/player.js" defer></script>
</head>
<body>
    <div class="root">
        <div class="player-wrapper">
            <div class="player-info">
                Teraz odtwarzane: d - d <br>
                Następne: d - d
            </div>
            <div class="player-controls">
                <div class="player-controls-button prev">&#10094;</div>
                <div class="player-controls-button play">&triangleright;</div>
                <div class="player-controls-button next">&#10095;</div>
            </div>
            <div class="player-status"></div>
        </div>
    </div>
</body>
</html>