<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <script src="/js/voting.js" defer></script>
    <title>Leśna - głosowanie</title>
  </head>
  <body>
    <div class="root">
      <div class="add-song-floating-btn">+</div>
      <div class="add-song">
        <div class="add-song-step1">
          <div class="add-song-header">
            <div class="add-song-header-close"></div>
            <span>Dodaj utwór</span>
            <div class="add-song-header-close" id="close-btn">x</div>
            <form action="" method="post">
              <label for="spotifyLink">Link do Spotify</label>
              <input type="url" name="spotifyLink" id="spotifyLink" />
              <button type="button" id="addSongBtn">Dodaj</button>
            </form>
          </div>
          <div class="add-song-step2">
            <div class="add-song-header">
              <div class="add-song-header-close"></div>
              <span>Dodaj utwór</span>
              <div class="add-song-header-close"></div>
            </div>
            <div class="add-song-step2-song">
              <div class="add-song-header">
                <div class="add-song-header-close"></div>
                <span>Dodaj utwór</span>
                <div class="add-song-header-close"></div>
              </div>
              <div class="step2-song-cover">
                <img src="/img/cover-placeholder.png" alt="" srcset="" />
              </div>
              <div class="step2-song-title">Głucha noc</div>
              <div class="step2-song-artist">Rychu peja</div>
            </div>
            <button>Potwierdź</button>
          </div>
        </div>
      </div>
      <div class="voting-wrapper">
        <div class="voting-header">Zagłosuj na ulubione utwory</div>
        <div class="voting-list">
          <div class="voting-item">
            <div class="voting-song-cover">
              <img src="/img/cover-placeholder.png" alt="" srcset="" />
            </div>
            <div class="voting-song-info-wrapper">
              <div class="voting-title">Głucha noc</div>
              <div class="voting-artist">Rychu peja</div>
              <div class="voting-votecount-wrapper">
                Głosów: <span class="voting-votecount-count">9999999</span>
              </div>
            </div>
            <div class="voting-vote-btn">
              <button class="voting-vote-btn">Zagłosuj</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
