<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title>Leśna - głosowanie</title>
  </head>
  <body>
    <div class="root">
      <div class="add-song-floating-btn"><span>+</span></div>
      <div class="add-song">
        <div class="add-song-step1">
          <div class="add-song-header">
            <div class="add-song-header-close"></div>
            <span>Dodaj utwór</span>
            <div class="add-song-header-close" id="closeBtn">x</div>
          </div>
          <form action="" method="post" id="spotifyForm">
            <label for="spotifyLink">Link do Spotify</label>
            <input type="url" name="spotifyLink" id="spotifyLink" />
            <div class="error">error</div>
            <button type="button" id="addSongBtn">Dodaj</button>
          </form>
        </div>
        <div class="add-song-step2">
          <div class="add-song-step2-song">
            <div class="add-song-header">
              <div class="add-song-header-close"></div>
              <span>Potwierdź wybrany utwór</span>
              <div class="add-song-header-close"></div>
            </div>
            <div class="step2-song-cover">
              <img src="/img/cover-placeholder.png" alt="" srcset="" />
            </div>
            <div class="step2-song-title">Głucha noc</div>
            <div class="step2-song-artist">Rychu peja</div>
          </div>
          <button id="confirmSong">Potwierdź</button>
        </div>
      </div>
      <div class="voting-wrapper">
        <div class="voting-header">Zagłosuj na ulubione utwory</div>
        <div class="voting-list" id="voting-list">
      </div>
    </div>
    <script src="/js/voting.js" defer></script>
  </body>
</html>
