<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <script src="js/helpers.js"></script>
  </head>
  <body>
    <div class="calendar">
      <div class="calendar__top-bar">
        <div class="calendar__left-arrow"></div>
        <div class="calendar__month-name"></div>
        <div class="calendar__right-arrow"></div>
      </div>
      <div class="calendar__grid">
        <div class="calendar__weekdays-container">
          <div class="calendar__weekday">Pon</div>
          <div class="calendar__weekday">Wto</div>
          <div class="calendar__weekday">Śro</div>
          <div class="calendar__weekday">Czw</div>
          <div class="calendar__weekday">Pią</div>
          <div class="calendar__weekday">Sob</div>
          <div class="calendar__weekday">Ndz</div>
        </div>
        <div class="calendar__dates-container"></div>
      </div>
    </div>
    <script src="js/calendar.js"></script>
  </body>
</html>
