<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/display2.css" />
    <title>Leśna - Aktualności</title>
  </head>
  <body onload="startTime();">
    <div class="root">
      <div class="main-grid">
        <div class="logo">
          <img src="img/logo.webp" alt="" srcset="" />
          <div id="clock"></div>
        </div>
        <div class="news">
          <div class="block-title">Aktualności</div>
          <div class="news-list" id="news-list"></div>
        </div>
        <div class="song-list">
          <div class="block-title">Top lista</div>
          <div class="voting-list" id="voting-list"></div>
        </div>
      </div>
    </div>
    <script src="/js/display2.js" defer></script>
  </body>
</html>
